<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <div th:replace="navbar :: common_head">...</div>
    <!-- Additional Style Insert Here -->
</head>


<body>

    <div th:insert="navbar :: navbar_body">...</div>

    <div class="ui segment container" style="margin-top:60px; margin-bottom:50px;" th:object="${products}">

        <div th:if="${products.isEmpty()}" class="ui segment container" style="margin: 15px auto" th:fragment="product_list">
            <p>No Products Available!!!</p>
        </div>

        <div th:if="${!products.isEmpty()}" class="ui container">
            <div class="ui special cards" style="display:flex; flex-flow: row wrap; justify-content: center; row-gap:20px; column-gap:15px; align-items: center; margin:20px 0;">
                <div th:each="product: ${products}" class="card" style="">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer"> r
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" th:href="@{'/user/shop/' + ${product.getShop()?.getId()} + '/product/'+ ${product.id}}">View Details</a>
                                </div>
                            </div>
                        </div>

                        <img style="height:250px;"  th:src="@{${product.image}}">

                    </div>

                    <div class="content">
                        <a class="header" th:text="${product.name}"> Product Title </a>
                        <div class="meta">
                            <span class="right floated" style="color: orange"><i class="star icon" style="font-weight: bolder"></i>4.5/5</span>
                            <span class="date" style="color: orange"> <span style="font-weight: bolder">৳ </span> [[${product.price}]] </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div style="height:50px"> </div>

    <div th:insert="navbar :: common_script">...</div>
    <!-- Additional Script Insert Here -->

    <script>

        $('.special.cards .image').dimmer({
            on: 'hover'
        });

    </script>
</body>
</html>

