<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <div th:replace="navbar :: common_head">...</div>
    <!-- Additional Style Insert Here -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>

<body>

    <div th:insert="navbar :: navbar_body">...</div>

        <div class="ui container product-container" style="display:flex; flex-flow : row wrap; column-gap: 30px; row-gap: 10px; justify-content:space-between; margin-top:20px;" th:object="${product}">

            <div class="ui link cards" style="flex: 1 200px; width:300px">
                <div class="card" style="width: 90%; height:100%; margin:auto;">
                    <img style="width:100%; height:100%;" th:src="@{${product.image}}">
                </div>
            </div>

            <div class="ui raised very padded text container segment" style="flex: 2 500px;">
                <div style="display: flex; flex-flow: row nowrap; justify-content : space-between; align-items: center;">
                    <h2 th:text="${product.name}" class="ui header" style="margin-bottom: 0px;"> Oillina Organic Extra Virgin Olive Oil 1 Ltr</h2>
                    <div style="">
                        <i class="heart outline icon"></i>
                        <i class="share alternate icon"></i>
                    </div>
                </div>
                <div style="">
                    <i class="star outline icon"></i> <i class="star outline icon"></i><i class="star outline icon"></i><i class="star outline icon"></i>
                </div>
                <p style="color:red; font-size:25px; margin-bottom:10px;"> $ [[${product.price}]] </p>
                <p style="height:.01rem; background-color: gray;"> </p>

                <div style="display: flex; flex-flow: row nowrap; column-gap: 15px; align-items : center;">
                    <div style="font-size:20px;"> Quantity : </div>
                    <div class="ui animated button" tabindex="0">
                        <div class="visible content"> <i class="plus icon"></i> </div>
                        <div class="hidden content"> <i class="plus icon"></i> </div>
                    </div>
                    <div style="font-size:20px;"> 0 </div>
                    <div class="ui animated button" tabindex="0">
                        <div class="visible content" style=""><i class="minus icon"></i></div>
                        <div class="hidden content" style=""> <i class="minus icon"></i></div>
                    </div>
                </div>

                <div style="margin-bottom: 20px;"> </div>


                <div class="ui buttons">
                    <div class="ui animated fade teal button" tabindex="0">
                        <div class="visible content">Buy Now</div>
                        <div class="hidden content">
                            $12.99
                        </div>
                    </div>
                    <div class="or"></div>
                    <div class="ui animated fade positive button" tabindex="0">
                        <div class="visible content">Add To Cart</div>
                        <div class="hidden content">
                            $12.99
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui very padded container segments" style="display:flex; flex-direction:row; justify-content: space-between; align-items: center; margin: 40px auto;">
            <div style="padding:12px 15px; font-size:20px; font-weight:500;">  <i class="comment alternate icon"> </i> Customer Reviews  </div>
        </div>

    </div>


    <div th:insert="navbar :: common_script">...</div>
    <!-- Additional Script Insert Here -->
</body>

</html>