<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <div th:replace="navbar :: common_head">...</div>
    <!-- Additional Style Insert Here -->
</head>


<body>

    <div th:insert="navbar :: navbar_body">...</div>

    <div class="ui segment container" style="margin: 15px auto" th:object="${products}">

        <div class="ui container">
            <div class="ui special cards" style="display:flex; flex-flow: row wrap; justify-content: space-around;">
                <div th:each="product: ${products}" class="card" style="margin-top:20px;">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer"> r
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View Details</div>
                                </div>
                            </div>
                        </div>

                        <img style="height:250px;"  th:src="@{${product.image}}">

                    </div>

                    <div class="content">
                        <a class="header" th:text="${product.name}"> Product Title </a>
                        <div class="meta">
                            <span class="date"> Price : $ [[${product.price}]] </span>
                        </div>
                    </div>

                    <div class="extra content"  style="margin : auto;">
                        <a th:href="@{'/users/shop/' + ${product.getShop().getId()} + '/product/'+ ${product.id}}">
                            <div class="ui animated teal button" tabindex="0">
                                <div class="visible content">Add To Cart </div>
                                <div class="hidden content">
                                    <i class="shopping basket icon"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div th:insert="navbar :: common_script">...</div>
    <!-- Additional Script Insert Here -->

    <script>

        $('.special.cards .image').dimmer({
            on: 'hover'
        });

    </script>
</body>
</html>