
.cart span{
    color: red;
    font-size: 30px;
    margin: 10px 10px;
    cursor: pointer;
}

.custom-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}
.cart{
    background-color: white;
    height: 100vh;
    overflow: scroll;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    animation: animate 1s ease-in-out forwards;
}

.items{
    display: flex;
    background-color: #c4c2c2;
    margin: 20px;
    border-radius: 18px;
    flex-wrap: wrap;
}
.items img{
    height: 100px;
    width: auto;
    padding: 6px;
    margin-left: 10px;
    border-radius: 15px;
}

.items .remove-item{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
.items .details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding-left: 30px;
}
.items .details p:nth-child(1){
    margin: 0px;
    font-size: 23px;
}
.items .details p:nth-child(2){
    margin: 0px;
    font-size: 20px;
    color: coral;
}

.items .quantity{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.items .quantity p{
    margin: 0px;
    padding-inline: 10px;
}
.items .quantity button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes animate {
    from{
        right: -30%;
    }
    to{
        right: 0;
    }
}
