<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_head">
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Semantic UI CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
</head>

<body>

<!-- Navbar Start(00b5ad) -->
<div class="navbar" th:fragment="navbar_body">
    <div id="menu" class="ui fixed borderless huge menu" style="background-color: lightblue">
        <div class="ui container grid">
            <!--Start: Desktop Nav-->
            <div class="computer only row">
                <a class="header item">Project Name</a>
                <a class="active item">Home</a>
                <a class="item">Product</a>
                <a class="item">Shop</a>
                <div id="dropdown-btn" class="ui dropdown item">
                    Categories <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">Category 1</a>
                        <a class="item">Category 2</a>
                        <a class="item">Category 3</a>
                    </div>
                </div>


                <div class="right menu">
                    <!-- Start: Search -->
                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                    <!-- End: Search -->
                    <a class="item">Register</a>
                    <a class="item">Login</a>

                </div>
            </div>
            <!--End: Desktop Nav-->

            <!--Start: Mobile Nav-->
            <div class="tablet mobile only row">
                <a class="header item"> Project Name</a>
                <div class="right menu">
                    <a class="menu item" >
                        <div id="menu-toggle-button" class="ui basic icon toggle button" >
                            <i class="content icon"></i>
                        </div>
                    </a>
                </div>
                <div class="ui vertical accordion borderless fluid menu" style="background-color: #00b5ad;border: 0px">
                    <!-- Start: Search -->
                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                    <!-- End: Search -->
                    <a class="active item"> Home</a>
                    <a class="item"> About</a>
                    <a class="item"> Contact</a>
                    <div class="item">
                        <div class="title">
                            Dropdown<i class="dropdown icon"></i>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!--End: Mobile Nav-->
        </div>
    </div>
    <!--End: Nav  -->
    <!-- Script  Start-->
    <!-- Script END -->
</div>
<!-- Navbar END -->

<div th:fragment="space-after-navbar"><br><br><br></div>


<div th:fragment="common_script">
    <!-- JQuery Link -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Semantic UI JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <!-- Navbar Script -->
    <script>
        $('.ui.vertical.menu').hide();
        $('.ui.dropdown').dropdown();
        $(document).ready(function () {
            $("html").click((event) => {
                if(event.target.id === "menu-toggle-button" || $(event.target).parents("#menu-toggle-button").length){
                    $('.ui.vertical.menu').toggle("250", "linear")
                }
                else if(!(event.target.id === "menu" || $(event.target).parents("#menu").length)) {
                    $('.ui.vertical.menu').hide()
                }
            });
        });
    </script>
</div>

</body>
</html>