<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <div th:replace="navbar :: common_head">...</div>

</head>
<body>

    <div th:insert="navbar :: navbar_body">...</div>

    <div class="ui container">
        <div class="ui link cards">
            <div class="card" style="width : 100%; padding : 40px; background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); display : flex; flex-direction : row; justify-content : space-between;">
                <h2> Already Registered ?  </h2>
                <a href="/login">
                    <div class="ui animated button btn" tabindex="0" style="width: 120px; font-size: 18px;">
                        <div class="visible content">Login</div>
                        <div class="hidden content">
                            <i class="sign-in alternate icon" > </i>
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>

    <div class="ui raised very padded container segment">

        <form class="ui form"  th:object="${new_shop}" th:action="@{/seller/register_shop}" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label>Shop Name </label>
                <input  type="text" name="name" />
            </div>

            <div class="field">
                <label>Description ( e.g. product type , your goal etc )</label>
                <textarea spellcheck="false" type="text" name="description"></textarea>
            </div>

            <div class="field">
                <label>Cover Photo</label>
                <input type="file" name="file" required />
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>

    <div th:insert="navbar :: common_script">...</div>

</body>
</html>