<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>

    <div th:insert="navbar :: navbar_head">...</div>
    <div th:insert="navbar :: navbar_body">...</div>

    <div class="container">

        <form class="ui form">
            <div class="field">
                <label>Shop Name </label>
                <input type="text">
            </div>
            <div class="field">
                <label>Short Text</label>
                <textarea rows="2" spellcheck="false"></textarea>
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>

    </div>

</body>
</html>